[MESSAGES CONTROL]
disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        #### Additions to defaults start here ####
        # not everything needs docs
        missing-docstring,
        # we still support Python 2
        useless-object-inheritance,
        # conflicts with design of attrs-based classes
        too-few-public-methods,
        # attrs confuses pylint type inference
        not-an-iterable,
        # nothing wrong with having TODO or FIXME comments...
        fixme,
        # some classes have code accessing each other
        protected-access,
        # we use black code style and don't need additional checks
        line-too-long,
        # don't enforce use of f-strings
        consider-using-f-string,
        # don't enforce 'raise ... from ...'; not py2 compatible
        raise-missing-from,
        # don't enforce Python3 style super(); not py2 compatible
        super-with-arguments
